.blog-entries {
  line-height: 80%;
  margin-bottom: 90px;  
}


.blog-entry {  
  margin-top: 60px;
}

.blog-entry-img {
  position: relative;
  top: -10px;
  right: -10px;
  float:left;
  margin-right: 20px;
  height: 90px;
  width: 90px;
}

.blog-entry-title {  
  margin-bottom: 0px;
  line-height: 150%;
}

.blog-entry-subtitle {
  margin-top: 15px;
  line-height: 100%
}

.blog-header {
  padding-top: 20px;
  color: #FC4349;
}

.blog-link {
  color: #6DBCDB;
}

.blog-list {
  line-height: 180%;
  font-weight: 600;
  color: #2C3E50;
  font-size: 16px;
}

.blog-text {
  line-height: 140%;
  font-family: georgia;
  font-size: 18px;
}

