body {
  font-family: helvetica;
  margin: 0px;
  background-color: #FFFFFF;
  color: #2C3E50;
}
header, footer {
  background-color: #FC4349;
  color: #FFFFFF;
}
p {
	color: 2C3E50;
}

.blog-header {
	color: #6DBCDB;
}

.blog-nav {
  padding-left: 47%; 
}

.bottom-nav {
  display: inline-block;
}

.bottom-nav-link, .blog-link {  
  color: #FC4349;
}

.intro-greeting {
  text-align: center;
}

.name-logo {
  margin-left: 5%;
  display: inline-block;
  color: #FFFFFF;
}

.nav-item {
  float: left;
  padding-right: 20px;
}

a.nav-link:link, a.nav-link:visited {  
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}

a.nav-link:hover, a.nav-link:active {
  color: #6DBCDB;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header {
	font-size: 35px;
}

.section-label {
  display: block;
  text-align: center;
}

.sub-title {
  font-weight: lighter;
}

.text-width {
  margin-left: 15%;
  margin-right: 15%;
}
.top-nav {
  margin-top: 37px;
  margin-right: 5%;
  display: inline-block;
  float: right;
  font-size: 25px;
}

.top-nav-link {
  color: #FFFFFF;
}

a.top-nav-link:link, a.top-nav-link:visited {
  display: block;
}
/* Moved current page to bottom, the underlining was white otherwise */

.current-page {
  color : #2C3E50;
  text-decoration: underline;
  
}

h2.current-page {
	color: #FFFFFF;
	text-decoration-color: #2C3E50;
}



